#global {
  background: #8360c3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

img {
  margin: 5px;
}

p {
  font-style: italic;
  margin: 0px;
}

input:focus, button:focus{
    outline: none;
}

#toggle {
  border-radius: 20px;
  border: 2px solid;
  color: darkslategray;
  background-color: lightsteelblue;
}

.message {
  margin: 0px;
}
