
#global {
  background-color: #f2f2f2;
  text-align:center;
  font-family: 'Dosis', sans-serif;
}

#welcome {
  color: #336699;
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 0px;
}
/********************************** INPUT/BUTTONS *****************************/

input:focus, button:focus{
  outline: none;
}

button, input {
  box-shadow: 1px 1px 5px;
}

#toggle {
  border-radius: 20px;
  background-color: #e6e6e6;
}

button > a {
  color: black;
}

#search-input {
    border-radius: 25px;
    height: 40px;
    width: 300px;
    display: inline-block;
    margin: 10px;
    padding-left: 10px;
  }

#search-button {
  border-radius: 25px;
  height: 40px;
  width: 100px;
  display: inline-block;
  margin: 10px;
}
/************************************** MSGS **********************************/

p {
  font-style: italic;
  margin: 0px;
}

.message {
  margin: 4px;
}

/************************************** GRID **********************************/

div.ui.grid {
  max-width: 960px;
  display: block;
  margin: 0 auto;
  margin-top: 0px;
}

.row {
  padding-top: 0;
}

/************************************** IMGS **********************************/

img {
  margin: 5px;
  box-shadow: 3px 3px 10px;
}

#remove {
  border-radius: 10px;
  position: absolute;
  z-index: 2;
  top: -2px;
  right: -2px;
}
